html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
    color: rgb(189, 131, 44);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px;
}

h2 {
    text-align: center;
    color: rgb(189, 131, 44);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.link-button,
.back {
    background-color: rgb(189, 131, 44);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    margin: 50px 50px;
    padding: 20px;
    box-shadow: 5px 5px 2px lightgrey;
    display: inline-block;
}

.link-button:hover,
.back:hover {
    background-color: rgb(110, 71, 11);
    color: white;
    box-shadow: 10px 10px 4px lightgrey;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

ol {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    list-style-type: square;
}

.recipe-img-container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.recipe-img {
    width: 400px;
}

.logo-header {
    width: 200px;
    margin: 0 auto;
}

.logo-img {
    width: 200px;
}

.back {
    float: right;
}

.horizontal-list {
    display: inline-block;
}

.horizontal-ul {
    text-align: center;
}